repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.2
  hooks:
    - id: ruff-check
      name: Check Linting
      args: [ --fix ]
- repo: local
  hooks:
    - id: pyright-check
      name: Check Typing
      entry: .venv/bin/pyright
      language: system
      pass_filenames: false
      files: ^converge/.*\.py$
    - id: pytest-check
      name: Run Tests
      entry: .venv/bin/pytest
      language: system
      pass_filenames: false
      always_run: true
